.asideNavContainer {
    display: flex;
    color: white;
    background: #000000;
    flex-direction: column;
    width: 117px;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 91px;
}

.activitiesList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.activityPicto {
    padding: 0.5rem;
}

.footer {
    display: flex;
    align-items: center;
    padding: 3rem 0;
    font-size: 0.8rem;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}