.asideNavContainer {
    display: flex;
    color: white;
    background: #000000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 91px;
}

.activitiesList {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.activityPicto {
    padding: 0.5rem;
    width: 64px;
    transition: width 0.3s ease;
}

.footer {
    display: flex;
    align-items: center;
    padding: 3rem 0;
    font-size: 0.8rem;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

@media (max-width: 1286px) {
    .activityPicto {
        width: 40px;
    }
}