.title {
    margin-bottom: 30px;
}

.userName {
    color: rgb(255, 0, 0);
    text-transform: capitalize;
}

.title,
.userName {
    font-size: 48px;
    font-weight: 500;
}

.subline {
    font-size: 18px;
    font-weight: 400;
}

.containerChart {
    display: flex;
    flex-direction: column;

}

.containerCards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.squareChart {
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    gap: 31px;
    margin-top: 77px;
    transition: gap 0.3s ease-in-out;
}

section {
    margin-top: 46px;
    margin-left: 107px;
    transition: margin-left 0.2s ease;
    margin-right: 20px;
}

/* Ajuste la marge lorsque la largeur de la fenêtre est inférieure à 1405px */
@media (max-width: 1440px) {
    section {
        margin-left: 15px;
    }
}

@media (max-width: 1251px) {

    .container {
        gap: 15px;
    }
}